//Variables

//Colors
$color-white: #fff;
$color-black: #000;
$text-color-primary: #304d70;
$text-color-secondary: #181818;
$text-color-lighter: #829cbb;
$dropdown-divider-color: #f2f4f6;
$text-color-lighter-2: #4b6c94;
$text-color-heading: #243757;
$text-color-content: #417fc9;
$text-light-grey: #cbd1ea;
$text-dark-grey: #a0aec3;
$text-color-light: #464f60;
$text-color-lighter-3: #6e759f;
$text-color-background: #f8f9fa;
$text-color-helper: #496381;
$text-color-green: #57e777;
$text-color-green-2: #48a56c;

$button-color-primary-gradient-start: #e052a0;
$button-color-primary: #fe5e40;
$button-background-color-subtle: #f2f4f6;
$button-background-color-lighter: #eef1f5;
$button-color-subtle: #778ca2;
$button-background-color-primary: #304d70;
$button-color-primary-default: #eaedf0;
$button-border-color: #dde1eb;

$background-color-lighter: #f8fafb;
$background-color-lighter-200: #f3f6f8;
$background-color-darker: #e9edf5;
$background-color-darker-2: #cdd5e4;

$divider-color: #e5effd;

$toolbar-border-bottom-color: #f7f7fa;

$border-color: #eaecf0;
$border-color-darker: #332e3c3d;

//linear-gradient(to right,  #9c9e9f 0%,#9c9e9f 50%,#f6f6f6 50%,#f6f6f6 100%);
