<div class="form-container">
  <mat-card>
    <div class="form-header">
      <button mat-button class="back-button" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2 class="form-title">{{ patientId ? "Update" : "Add" }} Patient</h2>
    </div>

    <form [formGroup]="patientForm" (ngSubmit)="submitForm()">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="First Name" />
        <mat-error *ngIf="validationMessages['firstName']">
          {{ validationMessages["firstName"] }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Last Name" />
        <mat-error *ngIf="validationMessages['lastName']">
          {{ validationMessages["lastName"] }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Birthdate</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="birthdate"
          placeholder="Select birthdate"
          [max]="maxDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="validationMessages['birthdate']">
          {{ validationMessages["birthdate"] }}
        </mat-error>
      </mat-form-field>

      <mat-label>Gender</mat-label>
      <mat-radio-group formControlName="gender" aria-label="Select gender">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
        <mat-radio-button value="other">Other</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="validationMessages['gender']">
        {{ validationMessages["gender"] }}
      </mat-error>

      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" placeholder="Phone Number" />
        <mat-error *ngIf="validationMessages['phone']">
          {{ validationMessages["phone"] }}
        </mat-error>
      </mat-form-field>

      <div class="button-container">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="patientForm.invalid"
        >
          {{ patientId ? "Update" : "Create" }} Patient
        </button>
      </div>
    </form>
  </mat-card>
</div>
